.list_wrapper {
    display:flex;
    flex-Wrap:  wrap  ;
    gap:  12px  ;
}

.to_do_container{
    border:  4px solid teal  ;
    border-Radius:  12px  ;
    padding:  12px 24px 24px  ;
    width:  270px 
}

.to_do_title{
    display:  block  ;
    font-Size:  1.5em  ;
    margin-Block-Start:  0.83em  ;
    margin-Block-End:  0.83em  ;
    margin-Inline-Start:  0px  ;
    margin-Inline-End:  0px  ;
    font-Weight:  bold 
}

.button_set{
    display:  flex  ;
    gap:  10px  ;
    margin-Top:  24px  ;      
}

.delete_button{
    background-Color:  #fff  ;
    border:  2px solid red  ;
    border-Radius:  8px  ;
    cursor:  pointer  ;
    height:  40px  ;
    width:  50% 
}

.complete_button{
    background-Color:  #fff  ;
    border:  2px solid green  ;
    border-Radius:  8px  ;
    cursor:  pointer  ;
    height:  40px  ;
    width:  50% ;
}

.list_container{
    padding: 20px 1em;
}

.list_title{
    display: block;
    font-Size: 1.5em;
    margin-Block-Start: 0.83em;
    margin-Block-End: 0.83em;
    margin-Inline-Start: 0px;
    margin-Inline-End: 0px;
    font-Weight: bold;
}
/* 
 const list_wrapper = {
        display: "flex",
        flexWrap: "wrap",
        gap: "12px",
    }

    const to_do_container = {
        border: "4px solid teal",
        borderRadius: "12px",
        padding: "12px 24px 24px",
        width: "270px"
    }

    const to_do_title = {
        display: "block-",
        fontSize: "1.5em-",
        marginBlockStart-: "0.83em",
        marginBlockEnd: "0.83em",
        marginInlineStart: "0px",
        marginInlineEnd: "0px",
        fontWeight: "bold"
    }

    const button_set = {
        display: "flex",
        gap: "10px",
        marginTop: "24px",      
    }

    const delete_button = {
        backgroundColor: "#fff",
        border: "2px solid red",
        borderRadius: "8px",
        cursor: "pointer",
        height: "40px",
        width: "50%"
    }

    const complete_button = {
        backgroundColor: "#fff",
        border: "2px solid green",
        borderRadius: "8px",
        cursor: "pointer",
        height: "40px",
        width: "50%"
    }

*/